<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="122f91e4-41e4-42d0-933e-8185f89032d4" name="Swagger Petstore Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [Swagger Petstore]</con:description>
  <con:settings>
    <con:setting id="122f91e4-41e4-42d0-933e-8185f89032d4fileName">Swagger-Petstore-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="21b08dc4-b55e-4684-b392-754038b35fa2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
